<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <!-- Chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/admin/style.css">
    <!--ajax-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/typeahead.min.js"></script>
    <script type="text/javascript" src="/admin/admin.js"></script>
    <title>Admin</title>
</head>

<body>
    <div class="wrapper ">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h3>Web Admin</h3>
                <img src="https://pbs.twimg.com/profile_images/945725885151195136/GC9AfbZw_400x400.jpg"
                    class="rounded-circle">
                <p class="text-white">jennie</p>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/admin"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                            class="fa fa-eye" aria-hidden="true"></i>
                        Show</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="/admin/show/member">member</a>
                        </li>
                        <li>
                            <a href="/admin/show/account1">Account</a>
                        </li>
                        <li>
                            <a href="#">stock</a>
                        </li>
                        <li>
                            <a href="#">market</a>
                        </li>
                        <li>
                            <a href="#">order</a>
                        </li>
                        <li>
                            <a href="/admin/show/Transaction">Transaction</a>
                        </li>
                        <li>
                            <a href="#">bank</a>
                        </li>
                        <li>
                            <a href="#">broker</a>
                        </li>
                        <li>
                            <a href="#">company</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fa fa-plus" aria-hidden="true"></i> Add</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> Edit</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Setting</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a class="article" href="/logout"> Log out</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light bg-dark">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="navbar-btn bg-dark">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <% if(CurrentPage){ %>
                    <div class="text-white">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/show/<%=CurrentPage%>1"><i class="fa fa-table" aria-hidden="true"> Browse</i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/show/search/<%=CurrentPage%>"><i class="fa fa-search" aria-hidden="true"> Search</i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/show/insert/<%=CurrentPage%>"><i class="fa fa-plus" aria-hidden="true"> Insert</i></a>
                            </li>
                        </ul>
                    </div>
                    <% } %>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Welcome Jennie </a>
                            </li>
                            <li class="nav-item active">
                                <a class="btn btn-danger" href="/logout">Log out</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>