<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="/stylesheet/index.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="typeahead.min.js"></script>
	<script type="text/javascript" src="/marketData/index.js"></script>
	<title>Online Stock Trading</title>
</head>

<body>

	<!-- navbar -->
	<div id="content">
		<nav class="navbar navbar-expand-lg bg-dark">
			<a class="navbar-brand text-white" href="#">STOCK</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
				aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a class="nav-item nav-link active text-white" href="/">Home <span
							class="sr-only">(current)</span></a>
					<a class="nav-item nav-link text-white" href="/market_data">Market Data</a>
					<% if(currentUser){ %>
					<a class="nav-item nav-link text-white" href="/trade">Trade</a>
					<a class="nav-item nav-link text-white" href="/profiles/accounts">Profile</a>
					<% } %>
				</div>
			</div>
			<% if(!currentUser){ %>
			<form class="form-inline" action="/login" method="POST">
				<input class="form-control mr-sm-2" type="search" placeholder="Username" name="username" required>
				<input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" required>
				<button class="btn btn-success my-2 mr-sm-2">LOGIN</button>
			</form>
			<!-- <button type="button" class="btn btn-primary my-2 mr-sm-2" id="sign_up" data-toggle="modal" data-target="#exampleModalLong" href="/register">SIGN UP</button> -->
			<a class="btn btn-primary my-2 mr-sm-2" href="/register">SIGN UP</a>
			<% }else{ %>
			<span class="navbar-text">
				<a class="nav-item nav-link active text-dark" href="#">Welcome <%= currentUser %><span
						class="sr-only">(current)</span></a>
			</span>
			<a class="btn btn-outline-danger my-2 mr-sm-2" href="/logout">Log out</a>
			<% } %>
		</nav>
	</div>