<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h1 class="display-5 text-left py-3">Profiles</h1>

            <div class="list-group">
                <a href="/profiles/accounts" class="list-group-item list-group-item-action">Accounts</a>
                <a href="/profiles/transaction" class="list-group-item list-group-item-action">Transaction</a>
                <a href="/profiles/history" class="list-group-item list-group-item-action">History</a>
                <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="/profiles/accounts"
                    role="tab" aria-controls="accounts">Accounts</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="/profiles/transaction"
                    role="tab" aria-controls="transaction">Transaction</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="/profiles/history" role="tab"
                    aria-controls="history">History</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#" role="tab"
                    aria-controls="settings">Settings</a> -->
            </div>
        </div>
        <div class="col-10">