<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h1 class="display-5 text-left py-3">Profiles</h1>

            <div class="list-group">
                <a href="/profiles/Portfolio" class="list-group-item list-group-item-action">Portfolio</a>
                <a href="/profiles/accounts" class="list-group-item list-group-item-action">Accounts</a>
                <a href="/profiles/transaction" class="list-group-item list-group-item-action">Transaction</a>
                <a href="/profiles/history" class="list-group-item list-group-item-action">History</a>
            </div>
        </div>
        <div class="col-10">