<% include ../partials/header %>
<% include ../partials/profilesHead %>
<div class="container-fluid py-5">
    <h1 class="display-2">Portfolio</h1>
    <table class="table table-border">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Available Volume</th>
                <th scope="col">Actual Volume</th>
                <th scope="col">Average Cost</th>
                <th scope="col">Market Price</th>
                <th scope="col">Amount(Price)</th>
                <th scope="col">Market Value</th>
                <th scope="col">Unrealized P/L</th>
                <th scope="col">%Unrealized P/L</th>
                <th scope="col">Realized P/L</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">BDMS</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">BH</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">CPALL</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>Otto</td>
                <td>@mdo</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>Total</td>
                <td>272,472</td>
                <td>341,068.50</td>
                <td>+68,598.40</td>
                <td>+25.18%</td>
                <td>0.00</td>
            </tr>
        </tbody>
    </table>
</div>
<% include ../partials/profilesFoot %>
<% include ../partials/footer %>