<% include ../partials/header %>
<% include ../partials/profilesHead %>

<H1>Transaction</H1>
<hr>
<div class="container">
    <br>
    <br>
    <form class="register-box" action="/profiles/transaction" method="POST">
        <div class="form-group row">
            <label class="col-sm-4 col-form label">Transaction Type</label>
            <div class="col-sm-6">
                <select class="form-control" name="Transaction_Type">
                    <option value="Deposit">Deposit</option>
                    <option value="Withdraw">Withdraw</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form label">Account</label>
            <div class="col-sm-6">
                <select class="form-control" name="Account_ID">
                    <% accounts.forEach(function(account){ %>
                        <option value="<%=account.Account_ID%>"><%=account.Account_ID%></option>
                        <% }); %>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form label">Transaction Amount</label>
            <div class="col-sm-6">
                <input type="dub" class="form-control" placeholder="Transaction Amount" name="Transaction_Amount">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-form label">Confirm PIN</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" placeholder="Confirm Password">
            </div>
        </div>
        <br>
        <button class="btn btn-primary btn-block" type="submit">Confirm Transaction</button>
    </form>
    <div>
        <% include ../partials/profilesFoot %>
        <% include ../partials/footer %>