<% include ../partials/header %>

<!-- Search form -->
<div class="container my-5" style="width: 50%;">
	<form class="form-inline" action="/market_data" method="POST">
		<i class="fa fa-search" aria-hidden="true"></i>
		<input class="marketData tt-query" type="text" placeholder="Search Stock Symbol" name="searchStock">
	</form>
</div>

<!-- content -->
<% if(!stock){ %>

<% }else{ %>
	<div class="container" style="width: 50%;">
		<div class="card">
			<div class="row pt-4">
				  <p class="card-title col ml-5 display-3" id="stock-symbol"><%=stock.Stock_Symbol%></p>
				  <p class="col display-4">
					  Last Trade
					  <br>
					  <span class="display-4" id="stock-last" style="color: red;"><%=stock.Stock_last%></span>
				  </p>
			  </div>
			  <div class="row pb-4">
				  <p class="col display-4 ml-5">
					  Change
					  <br>
					  <span class="display-4" id="stock-change" style="color: red;">-0.25</span>
				  </p>
				  <p class="col display-4">
					  % Change
					  <br>
					  <span class="display-4" id="stock-percent" style="color: red;">-0.52%</span>
				  </p>
			  </div>
		</div>
	</div>
	<% } %>

<% include ../partials/footer %>