<% include ../partials/header %>


<!-- graph -->
<div class="row py-5 px-5">
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card" id="graph-1">
			<div class="card-body text-center">
				SET graph
			</div>
		</div>
	</div>
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card ml-5" id="graph-2">
			<div class="card-body text-center">
				mai graph
			</div>
		</div>
	</div>
</div>
<!--overview market-->
<div class="container mb-5">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Market Type</th>
				<th scope="col">Last Price</th>
				<th scope="col">% Price Change</th>
				<th scope="col">Volume</th>
				<th scope="col">Value(million baht)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">SET</td>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td scope="row">mai</td>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>@mdo</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- top10gainer -->
<div class="container mb-5">
	<div class="card">
		<div class="card-body">
			<div class="card-title row mx-auto">
				<div class="dropdown mx-2 pl-3">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SET
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">SET</a>
						<a class="dropdown-item" href="#">mai</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Top 10 gainer
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Top 10 gainer</a>
						<a class="dropdown-item" href="#">Top 20 stocks volume trading</a>
						<a class="dropdown-item" href="#">Top 20 stocks value trading</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Stock Symbol</th>
							<th scope="col">Volume</th>
							<th scope="col">Last Price</th>
							<th scope="col">Price Change</th>
							<th scope="col">% Price Change</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row">1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td scope="row">2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td scope="row">3</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td scope="row">4</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
							<td>@mdo</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>