<% include ../partials/header %>


<!-- graph -->
<div class="row py-5 px-5">
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card" id="graph-1">
			<div class="card-body text-center">
				SET graph
			</div>
		</div>
	</div>
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card ml-5" id="graph-2">
			<div class="card-body text-center">
				mai graph
			</div>
		</div>
	</div>
</div>
<!--overview market-->
<div class="container mb-5">
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Market Type</th>
				<th scope="col">Last Price</th>
				<th scope="col">% Price Change</th>
				<th scope="col">Volume</th>
				<th scope="col">Value(million baht)</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td scope="row">SET</td>
				<td>Mark</td>
				<td>Otto</td>
				<td>@mdo</td>
				<td>@mdo</td>
			</tr>
			<tr>
				<td scope="row">mai</td>
				<td>Jacob</td>
				<td>Thornton</td>
				<td>@fat</td>
				<td>@mdo</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- top10gainer -->
<div class="container mb-5">
	<div class="card">
		<div class="card-body">
			<div class="card-title">
				<div class="container">
					<div class="row justify-content start">
						<div class="col-2">
							<select class="custom-select">
								<option value="set">SET</option>
								<option value="mai">mai</option>
							</select>
						</div>
						<div class="col-4">
							<select class="custom-select">
								<option value="top-gainer">Top 10 gainer</option>
								<option value="top-volume">Top 20 stocks volume trading</option>
								<option value="top-value">Top 20 stocks value trading</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col">Stock Symbol</th>
							<th scope="col">Volume</th>
							<th scope="col">Last Price</th>
							<th scope="col">Price Change</th>
							<th scope="col">% Price Change</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row">1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td scope="row">2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td scope="row">3</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td scope="row">4</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
							<td>@mdo</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>