<% include ../partials/header %>


<!-- graph -->
<div class="row py-5 px-5">
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card" id="graph-1">
			<div class="card-body text-center">
				SET graph
			</div>
		</div>
	</div>
	<div class="col col-sm col-md col-lg col-xl">
		<div class="card ml-5" id="graph-2">
			<div class="card-body text-center">
				mai graph
			</div>
		</div>
	</div>
</div>

<!-- content -->
<div class="container mb-5">
	<div class="card">
		<div class="card-body">
			<div class="card-title row mx-auto">
				<h4 class="py-1 px-1 ml-3">TOP 10</h4>
				<div class="dropdown mx-2">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						SET
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">SET</a>
						<a class="dropdown-item" href="#">mai</a>
					</div>
				</div>
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Popular Quote
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#">Popular Quote</a>
						<a class="dropdown-item" href="#">Top Gainer</a>
						<a class="dropdown-item" href="#">Top Loser</a>
						<a class="dropdown-item" href="#">Most Active Value</a>
						<a class="dropdown-item" href="#">Most Active Volume</a>
					</div>
				</div>
			</div>

			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Symbol</th>
							<th scope="col">Value(‘000Baht)</th>
							<th scope="col">Last</th>
							<th scope="col">Change(%)</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td scope="row">1</td>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
						</tr>
						<tr>
							<td scope="row">2</td>
							<td>Jacob</td>
							<td>Thornton</td>
							<td>@fat</td>
						</tr>
						<tr>
							<td scope="row">3</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<td scope="row">4</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<td scope="row">5</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<td scope="row">6</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<td scope="row">7</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<td scope="row">8</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<td scope="row">9</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
						<tr>
							<td scope="row">10</td>
							<td>Larry</td>
							<td>the Bird</td>
							<td>@twitter</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<% include ../partials/footer %>